.THIS .column-percent-body {
    padding: 0.25rem !important;
    width: 2rem;
    
}

.THIS td , .THIS thead th{
    padding-left: 0;
    padding-right: 0.5rem;
}

.THIS .column-percent-header {
    width: 2rem;
}

.THIS .slds-form-element__label {
    padding: 0;
}

.THIS .column-product-name {
    width: 12rem;
}

.THIS .column-product-code {
    width: 10rem;
}

.THIS .port-column {
    width: 7rem;
}

.THIS .port-code-column {
    width: 7rem;
}

.THIS .incoterm-column {
    width: 7rem;
}

.THIS .product-price-column {
    width: 10rem;
}

.THIS .product-quantity-column {
    width: 5rem;
}

.THIS .product-date-column {
    width: 10rem;
}

.THIS .product-date-error {
    color: red;
}